{% extends 'blog/base.html' %}
{% block content %}


<div class="content">
  <h2>Welcome!</h2>
  <p>I am a Product Manager from LA currently living in NYC. This is my personal website to host my photos and other content in the future.</p>
  <p>This site was built with <a href="https://www.djangoproject.com/" target="_blank">Django.</a> You can find the (crappy) code <a href="https://github.com/evanml/blog" target="_blank">here.</a></p>
  <p>If you want to contact me, reach out via my LinkedIn below.</p>



</div>
<div class="linkedin">
<button class="linkedin-button"><a href="https://www.linkedin.com/in/evanlarrimore/" class="linkedin-button" target="_blank"s>LinkedIn</a></button>
</div>
<div class="github">
<button class="github-button"><a href="https://github.com/evanml" class="github-button" target="_blank"s>GitHub</a></button>
</div>

{% endblock %}
