{% extends 'blog/base.html' %}

{% block content %}
<div class="sticky-sidebar">
  {{ filter.form }}
</div>
<div class="container">
<div class="row">
    {% for photo in filter.qs %}
    <div class="col-md-4">
      <div>
        <a href="{% url 'photo_detail' pk=photo.pk %}">
        <img src="{{ photo.image.url }}" alt="{{ photo.title }}" class="img-responsive img-thumbnail">
        </a>
        <div class="caption">
          <h2><a href="{% url 'photo_detail' pk=photo.pk %}">{{ photo.title }}</a></h2>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>


{% endblock %}
