{% extends 'blog/base.html' %}

{% block content %}
<div class="sticky-sidebar">
  <a href="#">All</a>
  <a href="#">Vietnam</a>
  <a href="#">Arizona</a>
</div>


<div class="container">
  <div class="row">
    {% for photo in photos %}
    <div class="col-md-4">
      <div>
        <a href="{% url 'photo_detail' pk=photo.pk %}">
        <img src="{{ photo.image.url }}" alt="{{ photo.title }}" class="img-responsive img-thumbnail">
        </a>
        <div class="caption">
          <h2><a href="{% url 'photo_detail' pk=photo.pk %}">{{ photo.title }}</a></h2>
          <h3>{{ photo.description }}</h3>
          <h4>Posted: {{ photo.published_date }}</h4>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>

</div>


{% endblock %}
